<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>


<body>
  <div style="padding-top:15px;padding-left: 20px;padding-right: 20px;">
    <div class="row">
      <h1 style="text-align: center;color: white;margin-bottom: 30px;">Tweet Analysis System</h1>
    </div>
    <div class="row">
      <div class="col-md-5 mt-5 p-3">
        <form action="/" method="POST">
          <div class="user-input">
            <h3>User Details</h3>
            <input type="text" class="form-control" id="username" name="username" autocomplete="off"
            value="{{username}}"
              placeholder="Username">
            <div style="margin-top: 10px;">
              <div class="dropdown" style="display: inline;">
                <div class="input-group">
                  <span class="input-group-addon">No. of Tweets </span>
                  <select name="noOfTweets" class="selectpicker form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                </div>
              </div>
              <input type="submit" class="btn btn-success" value="submit" style="margin-top: 10px;"></input>
            </div>
          </div>
        </form>
        <div class="graph-box">
          <canvas id="myChart" class="graph-card"></canvas>
          <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var barChart = new Chart(ctx, {
              type: "bar",
              data: {
                labels: {{ labels | safe}}, //['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                  label: 'Emotions',
                  data: {{ data | safe}}, //[65, 59, 80, 81, 56, 55, 40],
                  backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 205, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
                ],
                borderWidth: 1
              }]
              },
              options: {
                responsive: false
              }
            })
          </script>
        </div>
      </div>
      <div class="col-md-2 mt-5 p-3"></div>
      <div class="col-md-5 mt-5 p-3 tweetbox">
        <h3>User Tweets</h3>
        {% for tweet in tweets %}
        <div class="card mb-3 tweetbox-item">
          <div class="row g-0">
            <div class="card-body" style="padding: 15px;">
              <p class="card-text">{{tweet.text}}</p>
              <p class="card-text"><small class="text-muted" style="color: #5069e4;">{{tweet.created_at}}</small></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>